.overallContest{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
    .bloc-tabs{
        margin-top: 20px;
        .right{
            width: 132px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid var(--primaryColor);
            button{
                border: none;
                background: none;
                width: 100%;
                color: var(--primaryColor);
                font-family: var(--textFamily);
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.25px;
                text-align: center;
            }
        }
    }
    .tabs{ 
        padding: 5px 30px;
    }
    .tabContent{
        padding: 40px 0px;
    }

}