.PManagement{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
}
.pageContainer{
    padding: 35px 0px
}
.PManagement .AddPage{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}
.PManagement .AddPage span{
    background: var(--backgroundColor);
    cursor: pointer;
    color: #fff;
    border-radius: 7px;
    padding: 10px 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: var(--transition);
}
.PManagement .AddPage span .icon{
    font-size: 20px;
    font-weight: 900;
}
.PManagement .tableAction>:nth-child(1) .action{
    color:  #667085!important
}
.PManagement .tableAction>:nth-child(2){
    background:  #F1F1F1;
    border-radius: 5px;
    padding: 7px 3px;
    color: #667085!important
}
.PManagement .tableAction>:nth-child(2) .action{
    color:  #667085!important
}
/* tabs */
.bloc-tabs {
    display: flex;
    margin-left: 20vw;
}
.tabs {
    padding: 15px;
    text-align: center;
    width: 30%;
    background: var(--backgroundColor);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    transition: 0.4s all ease;
    font-family: var(--textFamily);
    color: var(--blackColor);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs  {
background: var(--primaryColor);
border-bottom: 1px solid transparent;
color:#fff;
}
.active-tabs::before {
content: "";
display: block;
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
width: calc(100% + 2px);
height: 5px;
background: yellow;
}

.content-tabs {
/* flex-grow : 1; */
}
.tabContent {
width: 100%;
display: none;
}

.active-tabContent {
display: block;
}
.PManagement .dateInput input{
    width: 200px;
    height: 33px;
    border-radius: 7px;
    color: #121212;
    border: 0.860139px solid #DCDEE6;
    font-size: 14px;
}
.PManagement .dateInput input:focus{
    outline: none;
    border:1px solid var(--lightPink)
}
.PManagement .dateInput{
    position: relative;
}
.PManagement .dateInput span{
    position: absolute;
    right: 10px;
    top: 2px 
}
.PManagement .dateInput span .iconDropdown{
    font-size: 20px;
}

/* addpage components */
.addPageWrapper{
    position: relative;
    font-family: var(--textFamily);
}
.addPageWrapper .top{
    padding-bottom: 20px;
}
.addPageWrapper .top>:nth-child(1){
    color: #878787;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
    padding-right: 8px;
}
.addPageWrapper .top>:nth-child(1):hover{
    color: var(--grayColor)
}
.addPageWrapper .top>:nth-child(2),
.addPageWrapper .top>:nth-child(3){
    color: var(--blackColor)
}
.addPageWrapper .form label{
    color: var(--blackColor);
    font-size: 14px;
    font-family: var(--textFamily2);
    font-weight: 600; 
    display: block;
    padding-bottom: 7px; 
}
.addPageWrapper .form-wrapper{
    padding: 5px 0px 
}
.addPageWrapper .form input{
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--grayColor);
    background: transparent;
    height: 35px;
    outline: none;
}

/* .addPageWrapper .form input:focus{
    border: 1px solid var(--lightPink);
    outline: none;
} */

.addPageWrapper .form .word{
    padding: 20px ;
}
.addPageWrapper .form .submit{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px 10px 10px 10px
}
.addPageWrapper .form .submit button{
    border: 0.751381px solid #C1C1C1;
    border-radius: 11.2707px;
    background: var(--backgroundColor);
    color:#fff;
    padding: 5px 25px;
    font-size:14px
}

