.RefreshComp button{
    background: #FFFFFF;
    border: 1.26054px solid #DCDEE6;
    border-radius: 10.0843px;
    font-family: var(--textFamily);
    color: #525252;
    width: 159.8px;
    height: 45.17px;
    font-size: 17.6476px;

    .r-icon{
        font-size: 30px
    }
}