.topCard{
    margin-top: 50px;
    width: 891px;
    height: 211px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}
.topCard .header{
    letter-spacing: -2%;
    color: #25233A;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--textFamily2);
    padding-bottom: 10px;
    text-transform: uppercase;
}
.topCard .content{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    width: 860px;
    height: 150px;
    border-radius: 8px;
    flex-wrap: nowrap;
    
}
.topCard .content>:nth-child(1),
.topCard .content>:nth-child(2),
.topCard .content>:nth-child(3),
.topCard .content>:nth-child(4){
    flex:1;
    padding: 20px 0px 10px 10px
}
.topCard .content .subtitle{
    text-transform: capitalize;
    font-family: var(--textFamily);
    color: #6D7D93;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .avg{
        font-family: var(--textFamily);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #106DEE; 

        span{
            font-weight: 700;
            padding:0 5px
        }
    }
}
.topCard .content>:nth-child(1){
    background: var(--primaryColor);
    color:#fff;
    border-radius: 8px 0px 0px 8px;
}
.topCard .content>:nth-child(1) .subtitle{
    color:#fff
}
.topCard .content>:nth-child(1) .amount{
    font-family: var(--textFamily);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    padding-top: 10px;
}
.topCard .content>:nth-child(2) .amount,
.topCard .content>:nth-child(3) .amount,
.topCard .content>:nth-child(4) .amount{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: #6D7D93;
    padding-bottom: 20px;
}

.topCard .content>:nth-child(2) .text,
.topCard .content>:nth-child(3) .text,
.topCard .content>:nth-child(4) .text{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #8693a5
}
.topCard .content>:nth-child(2),
.topCard .content>:nth-child(3){
    border-right:1px solid #F4F4F4;
}
.topCard .content .increase{
    color: #2EDB2B;
    font-weight: 700;
}
.topCard .content .decrease{
    color: #DA0D18
}

@media screen and (max-width: 500px) {
    .topCard{
        height: 200px;
    }
    .topCard .content{
        height: 140px;
    }
    .topCard .content>:nth-child(1) .amount{
        font-size: 24px;
        line-height: 14px;
    }
    .topCard .content>:nth-child(2) .amount,
    .topCard .content>:nth-child(3) .amount,
    .topCard .content>:nth-child(4) .amount{
        font-size: 20px;
        line-height: 24px;
    }
}