.withdrawalContainer{
    .page-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 50px;
        .backbtn{
            border:  1px solid #DCDEE6;
            width: 178px;
            height: 54px;
            border-radius: 8px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                border: none;
                background: none;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 15px;
                justify-content: center;
                color: #121212;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0px;
                text-align: center;
                
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .topButton{
            width: 204.65px;
            height: 42px;
            padding: 7.942380905151367px 23.8271427154541px 7.942380905151367px 23.8271427154541px;
            border-radius: 7.999999523162842px;
            border: 0.9927976131439209px;
            gap: 7.942380905151367px;
            border: 0.99px solid var(--primaryColor);
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                background: transparent;
                width: 100%;
                border: none;
                color: var(--primaryColor);
                font-family: 'Manrope', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: center;

            }
            
        }
    }
    .table .thead .td{
        font-family: var(--textFamily);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: #1F2937
    }
    .table .tableRow{
        cursor: pointer;
    }
    .table .tbody .td{
        font-family: var(--textFamily);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
    .table .tbody .sN{
        width: 6%;
    }
}
.withdrwal-RightSidebar{
    padding: 20px 0px;
    .header{
        display: flex;
        align-items: center;
        padding: 10px 10px 15px 10px;
        border-bottom: 1.39px solid #EDEDED;
        .left{
            flex: 10;
            text-align: center;
            font-family: var(--textFamily);
            .withdrawal{
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: center;
                color:#474747;
                padding-bottom: 8px;
            }
            .money{
                font-size: 24px;
                font-weight: 600;
                line-height: 39px;
                letter-spacing: 0em;
                text-align: center;
                color: #121212;
                padding-bottom: 8px;
            }
            .text{
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: #1F2937;
                padding-bottom: 5px;
            }
            .subText{
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: center;
                color: #4B5563;
            }
        }
        .closeButton{
            position: relative;
            top:-10px;
            button{
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
                border: 1px solid #E5E7EB;
                border-radius: 4px;
                width: 40px;
                height: 40px;
                svg{
                    width: 13.184999465942383px;
                    height: 13.184999465942383px;

                }
            }
        }
    }
    .cardContent{
        border-radius: 7px;
        border: 1.17px solid #12121238;
        padding: 10px;
        width: 100%;
        height: 72.83px;
        font-family: var(--textFamily);
        text-align: left;
        color: #1F2937;
        .title{
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0em;
            padding-bottom: 4px;
        }
        .answer{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;

        }
    }
    .cardContainer{
        padding: 10px 10px 20px 20px;
    }
    .cardContainer {
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 13px;
            padding-right: 10px;
            font-family: var(--textFamily);
            color:#1F2937;
            .title{
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
            }
            span{
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: right;

            }
            
        }
        .ActionButton{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 5px;
            gap:10px;
            button{
                width: 129.09px;
                height: 40.34px;
                border-radius: 10.757122993469238px;
                border: 1.5367231369018555px;
                background: transparent;
            }
            .approve{
                color: #258E22;
                border: 1.54px solid #258E22;
            }
            .decline{
                color: var(--primaryColor);
                border: 1.54px solid var(--primaryColor)     
            }
        }
        .WithdrawalStatus{
            margin: 50px 0px 30px 0px;
            text-align: center;
            button{
                width: 201px;
                height: 40px;
                border-radius: 10.757122993469238px;
                background: var(--backgroundColor);
                color:#fff;
                font-family: var(--textFamily);
                font-size: 18px;
                font-weight: 400;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: center;
                border: 1px solid #12121238

            }
        }
    }
    
}
.rightSidebar-Percentage .monthCalendar .react-datepicker{
    position: absolute;
    right:0;
    top: 40px;
}
.rightWithdrawalProgress{
    .rechartsContainer{
        border: 0.69px solid #EBEBEB!important;
        height: 230.46px;
        .top .title{
            font-size:14px;
        }
    }

    .progressChart .displayProgress{
        padding-top: 50px!important;
      }
    .progressChart .displayProgress .wrapper{
        padding-bottom: 40px;
    }
}

.withdrawalPopup{
    position: relative;
    width: 480px;
    background: #fff;
    border-radius: 33px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 20px;

    .openPopup{
        .image{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            svg{
                cursor: pointer;
            }
        }
        .headerDetail{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            gap: 6px;
            border-bottom: 1.39px solid #EDEDED;
            font-family: var(--poppinFamily);
            padding-bottom: 10px;
            .subtitle{
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: center;
                color:#474747;
            }
            .money{
                color:#121212;
                font-size: 33px;
                font-weight: 600;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: center;   
            }
            .text{
                font-family: HK Guise;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: center;
                color: #4b5563;
                width: 245px;
                margin: auto;
            }
        }
        .popupCard{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            margin: 15px 0px;
            .cardContent{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                width: 100%;
                .content{
                    width: 100%;
                    border-radius: 8px;
                    border: 1.39px solid #12121238;
                    padding: 15px 10px;
                    .title{
                        font-family: var(--poppinFamily);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color:#121212;
                        padding-bottom: 4px;
                    }
                    .answer{
                        font-family: var(--poppinFamily);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color:#121212;
                    }
                }
            }
        }
        .popupcontent{
            padding: 10px;
            .content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                padding-bottom: 18px;
                .title{
                    font-family: var(--textFamily);
                    font-size: 11.7px;
                    font-weight: 500;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;
                    color:#4B5563;
                }
                .answer{
                    font-family: var(--textFamily);
                    font-size: 11.7px;
                    font-weight: 500;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: right;
                    color:#1F2937;
                }
                .approved{
                    background: #DEF3E3;
                    color: #107028;
                    padding: 7px 10px;
                    border-radius: 7px;
                }
            }
        }
    }
}
@media screen and (max-width: 510px) {
    .withdrawalPopup{
        width: 95%;
        padding: 12px;
    }
}