.viewDetail .top{
    padding: 30px 0px 0px 0px;
}
.viewMoreDetails{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
    
    .profile{
        font-family: var(--interFamily);
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.022em;
        text-align: left;
        color:#252C32;  
        span{
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.014em;
            text-align: left;
            display: block;
        }  
    }
    .singletopCard{
        position: relative;
        top:-10px
    }
    .topCard{
        width: 650px;
        .content{
            width: 630px
        }
    } 

    .percentCard {
        width: 100%;
       
    }
    
    .table .thead .tableRow{
        position: relative;
        width: 100%;
        .dateRateDropdown{
            cursor: pointer;
        }
        .tableDateDropdown{
            position: absolute;
            top: 55px;
            right:0
        }
    }
    @media screen and (max-width:500px){
        .Wrapper1, .Wrapper2{
            margin: 0px 15px 0px 18px;
        }
    }
    
}