.HostDashboard{
    position: relative;
    font-family: var(--textFamily);
    padding: 30px;
    .topRow .card{
        border: none;
        background: #fff;
        border-radius: 15px;
        height: 147px;
        width: 100%;
    }
    .percentageCard .cardContent{
        min-height: 222px!important;
    }
    .cardWrapper .cardContent1{
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left .title{
            color: var(--grayColor700);
            font-family: var(--textFamily);
            font-weight: 700;
            font-size: 18px;
            line-height: 25.2px;
            padding-bottom: 15px;
        }
        .left .text{
            font-family: var(--textFamily);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--grayColor400);
            width: 80%;
        }
        .right{
            display: flex;
            border: 1px solid #DADADA;
            border-radius: 7px;
            width: 182px;
            height: 79.22px;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;
            .text{
                font-family: var(--textFamily);
                font-size: 10px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--grayColor400);
                padding-bottom: 5px;
            }
            .total{
                font-family:var(--textFamily);
                font-size: 21px;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--grayColor700)
            }
            img{
                width: 34.460432052612305px;
                height: 34.460432052612305px;
            }
        }
    }
    .topRow .card2{
        padding: 15px 15px;

        .title-head{
            font-family: var(--textFamily);
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #525256;
            padding-bottom: 20px;
        }
        .cardContent2{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wrapper{
                width: 125px;
                height: 65px;
                border-radius: 5px;
                border: 0.65px solid #DADADA;
                padding: 10px;
                .text{
                    font-family: var(--textFamily);
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--grayColor400);
                }
                .total{
                    font-family: Outfit;
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--grayColor700);
                }
            }
        }
    }

    .Session {
        margin-top: 50px;
    }
    .smCardDesign  .SignupContent .header{
        color: var(--primaryColor)!important;
    }

    .hostChart{
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        margin: 50px 0px;
        .title{
            font-family: var(--textFamily);
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color:#000;
            padding-bottom: 50px;
        }
        .hwrapper{
            border: 0.77px solid #ECECEC;
            padding: 10px 20px;
            border-radius: 6px;
            width: 90%;
            height: 220px;
            .title{
                padding-bottom: 7px;
                font-weight: 500;
                font-size: 15px;
            }
            .pieWrapper{
                gap: 20px;
                .pieDetail{
                    .content{
                        gap: 20px
                    }
                }
            }
        }
        @media screen and (max-width:1115px) {
            .hwrapper{
                width: 100%;
                .pieWrapper{
                    gap: 10px;
                    .pieDetail{
                        .content{
                            gap: 10px
                        }
                    }
                    .pieContainer{
                        width: 140px;
                        height: 140px;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            .pieWrapper{
                display: flex;
                justify-content: space-between;
                .pieContainer{
                    flex: 4
                }
                .pieDetail{
                    width: 60%;
                    text-align: center;
                }
               
            }
        }
        @media screen and (max-width: 420px) {
            .hwrapper{
                height: auto;
            }
            .pieWrapper{
                flex-direction: column;
                .pieDetail{
                    width: 100%
                }
            }
        }
        .hostProgress .rechartsContainer{
            height: 220px;
            width: 100%;
            .left{
                border: 1px solid #ECECEC;
                border-right: none;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                .top .title{
                    font-size: 14px
                }
                .top .monthDisplay{
                    position: relative;
                    top:-25px
                }
                .displayProgress{
                    padding-top: 5px;
                    position: relative;
                    top:-15px
                  }
                  .displayProgress .wrapper{
                    padding-right: 30px;
                    padding-bottom: 30px;
                  }
                @media screen and (min-width: 991px) and (max-width:1065px){
                    .top{
                        flex-direction: column;
                        gap: 3px;
                        justify-content: flex-start!important;
                        height: auto;
                        .monthDisplay{
                            position: relative;
                            top:-45px;
                            justify-content: flex-start;
                        }
                    }
                }
                @media screen and (max-width: 450px) {
                    .top .monthDisplay{
                        top:-35px
                    }
                    .displayProgress{
                        top:-25px
                      }
                }
            }
        }
    }
}
.pageCardDesign{
    .header{
        font-family: var(--textFamily);
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 5px;
        color: #000;
    }
    .topCard{
        background: transparent;
        border: 0;
        border-radius: 0px;
        box-sizing: border-box;
        padding: 0px;
        margin-top: 0px;
        .content{
            display: flex;
            justify-content: space-evenly;
            border: 1px solid #E7E7E7;
        }
        .content>:nth-child(1),
        .content>:nth-child(2),
        .content>:nth-child(3),
        .content>:nth-child(4){
            flex:1;
            padding: 20px 0px 20px 20px
        }
        .content>:nth-child(2),
        .content>:nth-child(3){
            border-right:1px solid #E7E7E7;
        }
        .content>:nth-child(2) .amount,
        .content>:nth-child(3) .amount,
        .content>:nth-child(4) .amount{
            padding-bottom: 18px;
        }
    }
}
.durationStylingForHost{
    position: relative;
    .monthCalendar .react-datepicker{
        position: absolute;
        right:0;
        top: 40px;
    }
}