.Navbar{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--interfaceBorder);
    transition: var(--transition);
}
.Navbar .navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar .navContent .left{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.Navbar .navContent .left .name{
    color: var(--blackColor);
    font-family: var(--textFamily);
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
}
.Navbar .navContent .right{
    display: flex;
    gap: 15px;
    align-items: center;
}
.Navbar .navContent .right .switchColor .icon{
    color: #2D3748;
    cursor: pointer;
    transition: 0.4s all ease;
}

.Navbar .navContent .right .switchColor .icon:hover{
    color: var(--primaryColor);
}
.Navbar .imageSession .image-session{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar .imageSession .image-session .icon{
    font-size: 20px;
    color: #9e9a9a
}
.Navbar .input-group .input-group-text{
    background: #fff;
    border: 0.5px solid #E2E8F0!important;
    border-right: none!important;
    border-radius: 15px;
}
.Navbar .right .form-control{
    border-left: none!important;
    border-radius: 15px;
    color: var(--grayColor);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    font-family: var(--textFamily);
    outline: none;
    padding: 0.475rem 1px
}
.Navbar .right .form-control:focus{
    outline: none;
    border: 0.5px solid #E2E8F0!important;
    border-left: none!important;
    box-shadow: none;
}
.Navbar .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayColor);
    opacity: 1; /* Firefox */
}
.Navbar .navlink{
    color: var(--blackColor);
    font-size: 20px;
}
.Navbar .notification .icon{
    cursor: pointer;
    color: var(--blackColor);
    font-size: 20px;
}