.Navbar{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--interfaceBorder);
    transition: var(--transition);
}
.Navbar .navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar .navContent .left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.Navbar .navContent .left .name{
    color: var(--blackColor);
    font-family: var(--textFamily);
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
}
.Navbar .navContent .right{
    display: flex;
    gap: 15px;
    align-items: center;
}
.Navbar .navContent .right .switchColor .icon{
    color: #2D3748;
    cursor: pointer;
    transition: 0.4s all ease;
}

.Navbar .navContent .right .switchColor .icon:hover{
    color: var(--primaryColor);
}
.Navbar .imageSession .image-session{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar .imageSession .image-session .icon{
    font-size: 20px;
    color: #9e9a9a
}
.Navbar input{
    height: 40px
}
.Navbar .inputContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar .inputSection .icon{
    position: absolute;
    top: 13px;
    left: 16px;
    color: var(--grayColor)
}
.Navbar .navlink{
    color: var(--blackColor);
    font-size: 20px;
}
.Navbar .notification .icon{
    cursor: pointer;
    color: var(--blackColor);
    font-size: 20px;
}