.ReportPage{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
    // table redesign
    .tableSection{
        padding: 5px 10px 0px 10px;
        
    }
    table{
        font-family: var(--textFamily)!important;
        thead {
            td{
                text-overflow: clip!important;
                overflow: visible;
                white-space: normal;
                color: #1F2937;
                font-size: 16px;
                font-weight: 500;
            }
        }
        tbody td{
            color: #1F2937;
            font-size: 14px;
        }
    }

    .refresh{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        margin-bottom: 20px;

       
    }

    @media (min-width: 768px) {
        .filterSession .col-sm-2 {
           width: 20%;
         }
    }
    .filterSession {
        position: relative;
        padding-bottom: 50px;
        label{
            color: var(--rLabelColor);
            font-family: 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12.7469px;
            line-height: 16px;
            padding-bottom: 7px;
        }
        .inputBox{
            border: 0.671679px solid #D1D5DB;
            border-radius: 2.68672px;
            color: var(--rInputColor)!important;
            letter-spacing: -0.16792px;
            font-family: var(--textFamily);
            outline: none;
            font-weight: 400;
            font-size: 14px;
            padding: 7px 10px;
            background: transparent;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            .drop-icon{
                font-size: 20px
            }
            .dropdown-content{
                position: absolute;
                width: 100%;
                top: 37px;
                left:0px;
                z-index: 10;
                border-radius: 6px;
                background: #fff;
                box-shadow: 0px 0.922014px 2.76604px rgba(16, 24, 40, 0.1), 0px 0.922014px 1.84403px rgba(16, 24, 40, 0.06);
                .dropdown-item{
                    border-bottom: 0.61237px solid #eaebec;
                    padding: 5px 10px;
                    background: #fff;
                }
                .dropdown-item:hover{
                    background: var(--lightPink)!important;
                   
                }
            }
        }
        .reportDate{
            position: absolute;
            top: 40px;
            left: -3px
        }
   
        .dateWrapper{
            position: absolute;
            top: 68px;
        }
        .phone{
            display: none;
        }
        @media screen and (max-width: 500px) {
            .phone{
                display: block;
            }
            .bigScreen{
                display: none
            }
            .dateWrapper{
                position: absolute;
                top: 135px;
            }
        }
    }
    
    .reportAction{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 30px;

        :nth-child(1){
            background: var(--backgroundColor);
            width: 118.72px;
            height: 39.57px;
            border-radius: 6.88254px;
            border: none;
            color: #fff;
            font-family: var(--textFamily);
            font-weight: 500;
            font-size: 16.4857px;
        }
        :nth-child(2){
            width: 155.04px;
            height: 39.81px;
            border-radius: 6.88254px;
            background: transparent;
            color: var(--primaryColor);
            font-size: 16.4857px;
            border: 1px solid var(--primaryColor)
        }
    }
    .reportpopupBody{
        
        .top{
            border-bottom: 1.3921px solid #EDEDED;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            font-family: var(--textFamily);
            position: relative;
            height: 136.76px;
            padding: 10px;
            border-bottom: 1.39px solid #EDEDED;
            .left{
                flex: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .close{
                flex: 2;
            }
            .head{
                color: #474747;
                font-weight: 400;
                font-size: 20px;
                padding-bottom: 5px;
            }
          
            .bd-text{
                font-size: 22px;
                color: #121212;
                font-weight: 600;
                padding-bottom: 5px;
                text-align: center;
            }
            .close{
                position: absolute;
                top: 53px;
                right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
        
                button{
                    border: none;
                    background: none;
                    img{
                        width: 40px;
                        height: 40px
                    }
                }
            }
            .sub-text{
                color: #1F2937;
                font-weight: 400;
                font-size: 16px;
                padding-bottom: 3px;
                font-family: var(--textFamily);
                font-weight: 400;
            }
            .sm-text{
                font-weight: 400;
                font-size: 14px;
                color: #4B5563;
                font-family: var(--textFamily);
                font-weight: 400;
            }
        }

        .card{
            border: none;
            margin-top: 30px;
            .col-6{
                padding: 0px 10px;
            }
            .content{
                border: 1.17252px solid rgba(18, 18, 18, 0.22);
                margin-bottom: 5px;
                width:176.46px;
                height: 65.83px;
                padding: 14.070290565490723px;
                border-radius: 7.035145282745361px;
                border: 1.1725239753723145px;
                gap: 4.690095901489258px;
                border: 1.17px solid #12121238;

                .title{
                    color: #121212;
                    font-weight: 400;
                    font-size: 14.0703px;
                    font-family: var(--poppinFamily);
                }
                .text{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14.864px;
                    color: #1F2937;

                }
            }
        }

        .content{
            padding: 20px 20px;

            .other{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left, .right{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #1F2937;
                    padding-bottom: 10px;
                    font-family: var(--textFamily);
                }
                .right .icon{
                    color: #44AC21;
                    font-size: 30px
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        .reportpopupBody{
            width: 55%!important;
        }
    }
    @media screen and (max-width: 500px) {
        .reportpopupBody{
            width: 100%!important;
        }
    }
    
}

.dateColumn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}