.Dashboard{
    position: relative;
    font-family: var(--textFamily);
    width: 100%;
    padding: var(--interfaceBorder);
    padding: 30px 30px;
}
.Dashboard .top{
    width: 70%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.Dashboard .top .image{
    background: var(--primaryColor);
    width: 160px;
    height: 113px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px
}
.Dashboard .top img{
    width: 28%
}
.Dashboard .top .text{
    font-size: 18px;
    font-weight: 600
}
.Dashboard .top .text .gray{
    color: var(--grayColor);
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0px;
}
.Dashboard .content{
    background: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Dashboard .content .text{
    color: var(--grayColor);
    font-size: 14px;
}
.Dashboard .content .text span{
    font-weight: 600;
    font-size: 17px;
    color: var(--blackColor);
    display: block;
    padding: 4px 0px
}
.Dashboard .content .text span .green{
    color:#48BB78;
    padding-left: 5px;
    font-size: 12.66px;
    font-weight: 700;
    font-family: var(--textFamily);
    position: relative;
    top:-2px
}
.Dashboard .content .text span .red{
    color:#E53E3E;
    padding-left: 5px;
    font-size: 12.66px;
    font-weight: 700;
    font-family: var(--textFamily);
    position: relative;
    top:-2px
}
.Dashboard .content .image{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .Dashboard .top{
        width: 95%;
    }
    
}