/* @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
  --backgroundColor: linear-gradient(180deg, #E50F1C -38.3%, rgba(146, 0, 0, 0.89) 198.94%);
  --primaryColor: #DA0D18;
  --lightPink:#FFEDED;
  --textFamily: 'Outfit', sans-serif;
  --blackColor: #2D3657;
  --grayColor: #667085;

}

body{
  background-color:#eee!important;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
  
.inputSection{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
.inputSection .inputContainer{
  flex:2
}
.inputSection .refreshDiv{
  flex:1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.inputSection input{
  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  width: 50%;
}
.inputSection input:focus{
  box-shadow: none;
  border: 2px solid var(--primaryColor);

}
.inputSection .icon{
  position: absolute;
  top: 23px;
  left: 16px;
  color: var(--grayColor)
}

/* .inputSection button{

  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  background: blue;
} */
.tableSection{
  background: #FFFFFF;
border: 0.922014px solid #EAECF0;
box-shadow: 0px 0.922014px 2.76604px rgba(16, 24, 40, 0.1), 0px 0.922014px 1.84403px rgba(16, 24, 40, 0.06);
}
table tr>:nth-child(1){
  padding-left: 30px;
}
table th{
  max-width: 120px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 15px 5px;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  background: #F9FAFB;
}
table td{
  max-width: 120px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  padding: 25px 5px;
  border-bottom: 1px solid #EAECF0;
}
table tr{
  padding: 0px 30px;
}

/* css for pahination */
.paginationBttns{
  margin: 40px 0px;
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationBttns a{
  padding: 5px 8px;
  margin: 8px;
  border-radius: 5px;
  color: var(--blackColor)!important;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s all ease;
  font-size: 15px
}
.paginationBttns a:hover{
  color: #fff!important;
  background: var(--primaryColor)
}
.paginationActive a{
  color: #fff!important;
  background: var(--primaryColor)
}
.paginationDisabled{
  pointer-events: none;
 
}
.paginationBttns .previousBttn, .paginationBttns .nextBttn{
  font-size: 15px!important;
  letter-spacing: 0.2px!important;
}

.alertContent{
  position: relative;
  width:100%;
  height: 100vh
}
.alertBody {
  position: relative;
  width: 300px;
  margin: auto;
  top: 40%!important;
  background:#fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.formpopupBody{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: auto;
  top: 10%!important;
  background:#fff;
  padding:20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 40px;
}
.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(36, 37, 39, 0.747);
  padding: 4% 0;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.12);
  z-index: 999;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 40px;
}
.alertBody .editSession{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-bottom: 10px;
}
.alertBody .editSession .icon{
  color: var(--primaryColor);
  font-size: 20px
}
.alertBody .editText{
  text-align: center;
  color: var(--grayColor);
  font-size: 14px;
  padding-bottom: 20px;
}
.alertBody .actionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.alertBody .actionButton button{
  border: none;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 14px
}
.alertBody .actionButton>:nth-child(1){
  background: var(--primaryColor);
  color:#fff;  
}
.alertBody .actionButton>:nth-child(2){
  background: var(--lightPink);
  color: var(--primaryColor)
}

.error{
  display: block;
  color: crimson;
  font-size: 11px
}