.adminPage{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px
}
.first .top-text{
    font-size: 17px
}
.first .button{
    border: none;
    background: var(--backgroundColor);
    border-radius: 7px;
    padding: 8px 20px;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.first .button span{
    font-size: 14px
}

.tableSection{
    font-family: var(--textFamily);
}
.tableSection .header{
    padding: 30px;
    color: var(--blackColor);
    font-size: 20px;
}
.tableSection .header span{
    background: var(--lightPink);
    color: var(--primaryColor);
    border-radius: 50px;
    padding: 3px 15px 4px 15px;
}
table .grayColor{
    color: var(--grayColor);
    font-size: 15px;
    text-transform: capitalize;
}
.formpopupBody .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px 10px 20px;
    border-bottom: 1px solid #E1E3E5;
    box-shadow: inset 0px -1px 0px #E1E3E5;
    font-family: var(--textFamily);
}
.formpopupBody .heading button{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--grayColor);
}
.formInput{
    padding: 20px;
}
.formInput label{
    display: block;
    font-size: 15px;
    color: var(--blackColor);
    padding-bottom: 5px;
    text-transform: capitalize;
}
.formInput input{
    width: 400px;
    height: 35px;
    border: 1px solid #E1E3E5;
    color: var(--grayColor);
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 8px
}
.formInput .inputfield{
    padding: 7px 0px
}
.formInput select{
    width: 400px;
    height: 35px;
    border: 1px solid #E1E3E5;
    color: var(--grayColor);
    font-size: 14px;
    border-radius: 5px;
}
.formInput .submitButton{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 20px 0px 10px 0px
}
.formInput .submitButton>:nth-child(1){
    border: 1px solid var(--grayColor);
    color: var(--primaryColor);
    background: transparent;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.formInput .submitButton>:nth-child(2){
    border: none;
    color: #fff;
    background: var(--primaryColor);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.tableAction button{
    background: none;
    border: none;
    padding:0px 8px;
    font-size: 18px;
}
.tableAction>:nth-child(1){
    color: crimson
}
.tableAction>:nth-child(2){
    color: var(--grayColor)
}
.inputSection .refreshDiv{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inputSection .refreshDiv button{
    border: 1px solid #dddddd;
    background: #fff;
    color: var(--grayColor);
    padding: 5px 10px;
    border-radius: 8px;
    font-family: var(--textFamily2);
    font-weight: 600;
}
.inputSection .refreshDiv .duration{
    background: var(--primaryColor);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: normal;
    background: var(--backgroundColor);
    border: 0.992798px solid #DCDEE6;
}
.inputSection .refreshDiv .duration .iconDropdown{
    font-size: 20px
}
.adminPage .table td .icon{
    color: #101828;
    font-size: 14px
}