.Payout{
    width: 100%;
    position: relative;
    font-family: var(--textFamily);
    padding: var(--interfaceBorder);
}
table .tableNav{
    font-size: 16px;
    line-height: 28px;  
    display: flex;
    align-items: center;
    color: #DA0D18;
    text-decoration: none;
    transition: 0.6s all ease-in-out;
}
table .tableNav:hover{
    color: #a7131bfd;
}
.tableName{
    font-family: var(--textFamily);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-bottom: 15px;
}
.refreshDiv .calendar{
    position: absolute;
    top: 40px;
    right:0;
}


/* css for single payout stats here */
.payoutDetails .whiteLogo{
    background: var(--backgroundColor);
    width: 80px;
    padding: 20px;
}